@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

#header1-0 H1 {
  text-align: center;
  font-size: 60px;
  color: #46413f;
  font-family: 'Lora', serif;
}
#menu-l .navbar-toggler {
  color: #000000;
}
#menu-6 .navbar-toggler {
  color: #000000;
}
#msg-box4-5 .lead P {
  font-size: 16px;
}
#menu-6 .navbar-toggler {
  color: #000000;
}
#menu-6 .navbar-toggler {
  color: #000000;
}
#menu-6 .navbar-toggler {
  color: #000000;
}
#menu-6 .navbar-toggler {
  color: #000000;
}
#msg-box4-j .lead P {
  font-size: 18px;
}
#menu-l .navbar-toggler {
  color: #000000;
}
